body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Bai Jamjuree", sans-serif;
    color: white;
    overflow-x: hidden;
}

h1, h2 {
    text-align: center;
}

h1 {
    color: white;
}
h2{
    color: white;
}

.controls-container {
    display: flex;
    height: 100%;
    position: relative;
    background: url('/bg_solar-2.png') no-repeat center center fixed;
    background-size: 140% 100%;
}
.left, .right, .simulator-results {
    background-color: transparent;
}

.left {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    position: relative;
    width: 45%;
}

.right {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    position: relative;
    width: 55%;
}

.simulator-results {
    /*background-color: beige;*/
    width: 40%;
    height: 100%;
    /*overflow: hidden;*/
    position: absolute;
    box-sizing: border-box;
    left: 100%;
    color: white;
    z-index: 1000;
}

.options-container {
    background-color: gray;
    height: auto;
    width: 90%;
    bottom: 3%;
    left: 3%;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-item {
    margin: 10px -5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.label-container {
    flex-basis: 250px;
    text-align: left;
    padding-right: 20px; /* Space between label and dropdown/slider */
    white-space: nowrap;
}

.dropdown-container {
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
    padding-right:65px;
    padding-left:85px;
}

.slider-container {
    flex: 2;
    max-width: calc(100%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.value-container {
    width: 50px; /* Adjusting the width for consistency */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 10px;
    padding-left: 20px;
}

label {
    text-align: left;
    padding-right: 10px; /* To give some space between label and slider */
    line-height: 25px;
}

select, input[type="range"] {
    width: 100%;
    height: 25px;
    margin: 0;
    padding: 0; /* Ensure no padding interferes with the height */
    box-sizing: border-box; /* This makes sure the width doesn't exceed 100% with border/padding */
    vertical-align: middle; /* This should help vertically center it */
}

input[type="range"] {
    vertical-align: middle;
    margin-top: 8px;
    padding: 0;
}

select {
    height: 25px;
}

#collector-area-value, #collector-depth-value, #temperature-value, #storage-tank-volume-value {
    display: inline-block;
    width: 30px;
    text-align: right;
    vertical-align: baseline;
}

#startSimulator {
    font-size: 16px;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startSimulator:hover {
    background-color: darkred;
}

#simulator-results-content {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    padding: 20px;
    display: flex;  /* Turn this into a flex container */
    justify-content: space-between;  /* Distribute the columns evenly */
    flex-wrap: wrap;  /* Allow columns to wrap if they don't fit */
}

.result-column {
    flex: 1;  /* Allow columns to grow and take up available space */
    padding: 0 10px;  /* Add some horizontal padding for separation */
    box-sizing: border-box;  /* Include padding in width calculation */
}

.left-slide-out {
    left: -40%;
    width: 0;
    opacity: 0;
    transition: left 0.5s ease-in-out, width 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.right-slide-in {
    width: 40%;
    left: 0;
}

.simulator-results-slide-in {
    width: 60%;
    left: 40%;
}

.transition {
    transition: all 0.5s ease; /* Adjust the timing as needed */
}