body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: "Bai Jamjuree", sans-serif;
    color: brown;
}

.container {
    display: flex;
    height: 100%;
}


.left {
    box-sizing: border-box;
    flex: 3;
    background-color: #B9FAFA;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.options{
    background-color: gray;
    height: 15%;
    width: 93%;
    position: absolute; /* to position it at the bottom */
    bottom: 3%; /* from the bottom of the parent div */
    left: 3%;
    padding: 5px;
    border-radius: 5px;
}

.right {
    box-sizing: border-box;
    flex: 2;
    background-color: #FFCBA4;
    height: 100%;
    overflow-y: auto;
}

#months {
    display: inline-block;
    margin-right: 20px;
}

#dates {
    display: inline-block;
}

.form-wrapper{
    font-family: "Bai Jamjuree", sans-serif;
    color: white;
}

.temperature-slider {
    margin-top: 20px;
    font-family: "Bai Jamjuree", sans-serif;
    color: white;
}